:root {
	--main: #5489ca;
	--main50: #5489ca50;
	--main30: #5489ca30;
	--mainD: #020022;
	--mainFt: #90c2ff;
	--pink: #ca5497;
	--pink30: #ca549740;
}

#root {
	width: clamp(320px, 100vw, 768px);
	text-align: center;
	background-color: var(--mainD);
}
